[submodule "themes/maverick"]
	path = themes/maverick
	url = https://github.com/canhtran/maverick.git
[submodule "themes/rocinante"]
	path = themes/rocinante
	url = https://github.com/mrmierzejewski/hugo-theme-rocinante.git
[submodule "themes/themes/rocinante"]
	path = themes/themes/rocinante
	url = https://github.com/mavidser/hugo-rocinante.git
